/* Register.css */
.Register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--clr-off-white);
}

.Register-Container {
  background: var(--clr-white);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--clr-shadow);
}

h2 {
  text-align: center;
  color: var(--clr-red);
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--clr-bdr);
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--clr-red);
  color: var(--clr-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;

    background-color: var(--clr-red);
  
    &:hover {
      background-color: #c21010;
    }
  
}



.error-message {
  color: var(--clr-red);
  font-size: 0.875rem;
}
