.GuestEnquiry {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    min-height: 100vh;
  }
  
  .EnquiryContainer {
    width: 90%;
    max-width: 1200px;
  }
  
  .EnquiryHeading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .EnquiryCards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

  }
  
  .EnquiryCard-container {
    background-color: var(--clr-0f-white);
    border-radius: 10px;
    border: 1px solid var(--clr-red);

    overflow: hidden;
    transition: transform 0.2s;
    width: calc(100% / 3 - 20px); /* Adjust this value based on the number of cards per row */
    max-width: 300px;
  }
  
  .EnquiryCard-container:hover {
    transform: scale(1.02);
  }
  
  .Enquiry-Detail {
    border: 1px solid var(--clr-tex);

    padding: 20px;
    text-align: center;
  }
  
  .Enquiry-Detail img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .Enquiry-Detail p {
    margin: 10px 0;
    font-size: 16px;
    color: #666;
  }
  
  /* Responsive Design */
  @media (max-width: 1024px) {
    .EnquiryCard-container {
      width: calc(100% / 2 - 20px);
    }
  }
  
  @media (max-width: 768px) {
    .EnquiryCard-container {
      width: 100%;
    }
  }
  