

.UserTopbar {
  background-color: var(--clr-0ff-white);
  border-bottom: 2px solid var(--clr-Shadow);
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  z-index: 2;
}

.UserTopbar-Items {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.UserBrand-Logo {
  padding: 0.5rem;
}

.UserBrand-Logo a img {
  height: 3rem;
}

.UserHamburger {
  display: none;
  cursor: pointer;
  z-index: 3; /* Ensure hamburger menu is above other elements */
}

.UserHamburger-Line {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--clr-red);
  transition: all 0.3s ease-in-out;
}

.UserHamburger-Line.open:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.UserHamburger-Line.open:nth-child(2) {
  opacity: 0;
}

.UserHamburger-Line.open:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.UserTopbar-Nav {
  display: flex;
  align-items: center;
  flex: 1;
}

.UserTopbar-Nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.UserTopbar-Nav ul li {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UserTopbar-Nav ul a {
  color: var(--clr-text);
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.UserTopbar-Nav ul a svg {
  width: 2rem;
  height: 2rem;
}

.UserTopbar-Nav ul li a:active {
  color: var(--clr-red);
}

.UserTopbar-Nav .Nav.Account ul li {
  background-color: var(--clr-red);
  margin: 0.7rem;
  border-radius: 0.6rem;
}

/* Styles for medium screens (tablets) */
@media screen and (max-width: 1030px) {
  .UserTopbar {
    padding: 0 2rem;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-off-white);
  }

  .UserTopbar-Nav {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--clr-off-white);
    padding: 1rem;
    display: none;
    z-index: 2; /* Ensure the navigation is below the hamburger menu */
  }

  .UserTopbar-Nav.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-0ff-white);

  }

  .UserTopbar-Nav .UserNav {
    margin: 0.5rem 0;
  }

  .UserTopbar-Nav ul {
    flex-direction: column;
    align-items: center;
  }

  .UserTopbar-Nav ul li {
    padding: 0.3rem 0.5rem;
  }

  .UserTopbar-Nav .Nav.Account ul li {
    margin: 0.5rem;
  }

  .UserHamburger {
    display: block;
    margin-right: 1rem;
  }
}

/* Styles for small screens (mobile devices) */
@media screen and (max-width: 576px) {
  .UserTopbar {
    padding: 0 1rem;
  }

  .UserBrand-Logo a img {
    height: 2rem;
  }

  .UserTopbar-Nav ul li {
    padding: 0.2rem 0.3rem;
    font-size: 0.9rem;
  }

  .UserTopbar-Nav .Nav.Account ul li {
    margin: 0.3rem;
    font-size: 0.9rem;
  }

  .UserTopbar-Nav {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--clr-off-white);
    padding: 1rem;
    display: none;
  }

  .UserTopbar-Nav.open {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .UserHamburger {
    display: block;
    margin-right: 1rem;
  }
}
